In [1]:
 
import pandas as pd

import numpy as np

staffs = pd.read_csv('../staging_1/staffs/staffs.csv')

In [2]:
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,extract_time,source_name
0,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1,2,2024-04-28 20:09:57.902703,datalake
1,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1,2,2024-04-28 20:09:57.902703,datalake
2,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2,1,2024-04-28 20:09:57.902703,datalake
3,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3,1,2024-04-28 20:09:57.902703,datalake
4,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3,7,2024-04-28 20:09:57.902703,datalake
5,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3,7,2024-04-28 20:09:57.902703,datalake

In [3]:
import pandas as pd
import os
output_path = '../staging_2/staffs/staffs.csv'
os.makedirs(os.path.dirname(output_path), exist_ok=True)
staffs.to_csv(output_path, index=False)